@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "tw-animate-css";


@theme{

     --font-helvetica: "HelveticaNeue", sans-serif;
     --color-background: #13151a;
 
 
  --color-dark-shades-4:#67626212;
     --color-dark-shades-5: #62737b;
     --color-dark-shades-6: #8e9ca2;
  --color-secondary:#fefffe;
  --color-text:#bab7b6;
  --color-navbar:#1a1b1ebd;
  --color-navbarText:#ffffffb3;
  --color-border:#3e3d3d33;
  --color-logos:#201d3c;

}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueBlack.otf") format("opentype");
     font-weight: 900;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueBold.otf") format("opentype");
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueMedium.otf") format("opentype");
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
     font-weight: 500;
     font-style: italic;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueLight.otf") format("opentype");
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueThin.otf") format("opentype");
     font-weight: 200;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueUltraLight.otf") format("opentype");
     font-weight: 100;
     font-style: normal;
}

@font-face {
     font-family: "HelveticaNeue";
     src: url("/src/assets/fonts/HelveticaNeueHeavy.otf") format("opentype");
     font-weight: 800;
     font-style: normal;
}

@layer base{
   h1{
        
         color:var(--color-secondary);
         font-size: 4.2rem;
         font-weight: 400;
   }
   h2{
         color:var(--color-secondary);
        font-size: 2.6rem;
        font-weight: 400;
   }
   h3{
     
         color:var(--color-secondary);
        font-size: 1.9rem;
        font-weight: 400;
   }
   h4{
         color:var(--color-secondary);
        font-size: 1.5rem;
        font-weight: 400;
   }
    h5{
          
         color:var(--color-secondary);
        font-size: 1rem;
        font-weight: 400;
   }

   .logo{
    box-shadow: 0 4px 4px #00000040;
   }
   .hero{
     background-image: radial-gradient(hsla(0, 0%, 58%, .467) .5px, transparent 0);
          background-position: 50%;
          background-size: 8px 8px;
          margin: 0 0 23px;
          overflow: hidden;
          position: relative;
   }

    body{
        background:var(--color-background);
        color:#a8a4a5;
        font-family: "HelveticaNeue", sans-serif;
    }
}

@layer components{

}

